.station {
  font-size: 18px;
  position: relative;

  .button {
    border: none;
    background-color: transparent;
    outline: 1px solid transparent;
    height: 20px;
    padding: 0;
    width: 20px;
    position: absolute;
    top: 0px;
    right: -20px;

    img {
      width: 20px;
    }
  }
}



