.mainBlock {
    background-color: aliceblue;
    padding: 1px 0;
    min-height: 100vh;
}

.mainBlock h1 {
    text-align: center;
}

.mainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}